*.egg
*.egg-info
*.mo
*.py[cod]
*.so
.DS_Store
.coverage
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.tox
/build
/develop-eggs
/dist
/docs/_build
/eggs
/env
/htmlcov
/tags
lib
lib64
nosetests.xml
parts
pip-log.txt
sdist
tags
